@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.carousel-inner {
    max-height: 90vh;
}

#img-equipo {
    max-height: 30rem !important;
    width: 50%;
}



@media (max-width:1200px) {

    #intro {
        width: 90% !important;
        margin: auto;
    }
}
@media (max-width:768px) {

    #intro{
        width: 90% !important;
        margin: auto;
    }
}
@media (max-width: 576px) {
    #servicios-fila-2 {
        width: 100% !important;
    }

    #servicios-fila-1 {
        width: 100% !important;
    }

    .icono-wrap {
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}











/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;
    ;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}





